<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EROR 404</title>
</head>
<body>
    <h1>ERROR 404!</h1>
    <br>
    <img src="/images/error 404.png" alt="tec_diff">
</body>
</html>