<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <title>register</title>
</head>
<%- include('./partials/header.ejs') %>

    <body>
        <form action="/register" method="POST">
            <label for="">Nombre</label>
            <input type="text" name="nombre" placeholder="Nombre">
            <p>Hobbies</p>
            <% for(let i=1; i < 3; i++) { %>
                <label for=""> Hobbie <%= i%></label>
                <% if (i % 2==0) { %>
                    <input type="text" name="Hobbie_1" class="par">
                    <% } else { %>
                        <input type="text" name="Hobbie_2" class="inpar">
                        <% } %>
                            <br>
                            <% } %>
                                <label for="">Edad</label>
                                <input type="text" name="edad">
                                <br>
                                <label for="">Email</label>
                                <input type="email" name="email">
                                <br>
                <button type="submit">Registrar</button>
        </form>
    </body>

</html>