<html>
<%- include('./partials/header.ejs') %>

    <body>
        <h1>User List</h1>
        <ul>
            <% for(let i=0; i < users.length; i++) { %>
                <li>
                    <a href="/users/detail?userId=<%=users[i].id%>"> <%= users[i].nombre %> </a> 
                    <form method="POST" action="/delete/<%=users[i].id%>?_method=DELETE">
                        <button>Delete</button>
                    </form>
                </li>  
                <% } %>
        </ul> 
        <h2>Search</h2>
        <form action="/search" method="GET">
            <input type="text" name="search">
            <BUtton type="submit">Search</BUtton> 
        </form>
    </body>
 
</html>