<html>
<%- include('./partials/header.ejs') %>

    <body>
        <h1>User List</h1>
        <ul>
            <% for(let i=0; i < users.length; i++) { %>
                <li>
                    <a href="/users/detail?userId=<%=users[i].id%>"> <%= users[i].name %> </a> 
                </li>  
                <% } %>
        </ul> 
        <h2>Search</h2>
        <form action="/users/search" method="GET">
            <input type="text" name="query">
            <BUtton type="submit">Search</BUtton>
        </form>
    </body>

</html>