<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <title>register</title>
</head>
<%- include('./partials/header.ejs') %>

    <body>
        <h1>Editing user: <%= userToEdit.nombre %></h1>
        <form action="/edit?_method=PUT" method="POST">
            <label for="">Nombre</label>
            <input type="text" name="nombre" value="<%= userToEdit.nombre %>">
                <button type="submit">Editar</button>
        </form>
    </body>

</html>